<div class="page bg-surface-0 dark:bg-surface-900">

  <div class="mb-4">
    <input
      type="text"
      placeholder="Search term..."
      [value]="filterTerm()"
      (input)="onFilterChange($event)"
      class="border p-2 w-full"
    />
  </div>

  <div class="mb-4">
    <input
      type="number"
      min="0"
      placeholder="Search post by user ID.."
      [value]="searchAuthor()"
      (input)="onAuthorChange($event)"
      class="border p-2 w-full"
    />
  </div>

  <p>Results: {{filteredPosts().length}}</p>
  @if (searchAuthor()) {
    <p>Results for user with ID: {{searchAuthor()}}</p>
  }
  @if (filteredPosts().length > 0) {
    <div class="post-list">
      @for (post of filteredPosts(); track post.id) {
        <app-post-card class="post-card" [post]="post"></app-post-card>
      } @empty {
        <div class="flex mx-auto mt-6">
          <p>No results</p>
        </div>
      }
    </div>
  } @else if (loading()) {
    <div class="flex flex-col items-center">
      <small>Posts loading...</small>
    </div>
  } @else {
    <div class="flex mx-auto mt-6">
      <p>No results</p>
    </div>
  }
</div>
